<h1 style="text-align: center;">HEADER</h1>
<!-- 
<div class="card" *ngFor="let topic of topics">
    <h3> {{ topic.name }} </h3>
</div> -->

<div class="router">

    <div routerLinkActive="active" class="nav">
        <a  [routerLink]="['/menu/programming-languages']">
            <p>Programming Languages</p>
        </a>
    </div>
    <div routerLinkActive="active" >
        <a  [routerLink]="['/menu/devices']">
            <p>Devices</p>
        </a>
    </div>
    <div routerLinkActive="active" >
        <a [routerLink]="['/menu/app']">
            <p>APP</p>
        </a>
    </div>
</div>